h1 {
    color: purple;
    font-size: 60px;
}

h1:hover{
    color: orange;
    font-size: 80px;
}

#bear-photo{
    width: 250px;
}

.special{
    color: teal;
    font-size: 30px;
    border: 1px solid teal;
}

input[type="password"] {
    height: 50px;
    width: 100px;
}

.todo{
    font-size: 30px;
    color: olive;
}

.done{
    color: gray;
    text-decoration: line-through;
    opacity: 50%;
}

/* events on multiple elements: */
#boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 200px;
    height: 200px;
}

h2 {
    text-align: center;
}